body {
    margin: 0;
    padding: 20px;
    background: #343434;
    font-family: ArialBlack;
}

.kotak-nama{
  color:rgb(170, 169, 169);
  padding:0 24px;
  border-radius:20px;
  height:100px;
  width:855px;
  display:flex;
  align-items:center;
  justify-content: center;
  position: relative;
  left:190px;
  top:100px;

  background: linear-gradient(
    90deg,
    transparent 0%,
    #ffffff 30%,
    #ffffff 70%,
    transparent
  );
}

.kotak-nama h2{
  margin:0;
  font-size:50px;
  letter-spacing:1px;
  font-family:"arial",sans-serif;
  color:#064c13
}

.foto-box {
    position: absolute;
    top: 50px;
    left: 500px;
}

.foto-box img {
    width: 200px;
    height: 240px;
    border-radius: 20%;
    object-fit: cover;
    border: 3px solid #ffffff;
}

.biodata-box {
    width: 700px;             
    border: 3px solid white;    
    border-radius: 10px;       
    padding: 15px;
    position: relative;             
    top: 200px;          
    left: 70px;      
    font-family:"arial",sans-serif;   
    background-color: transparent; 
    color: white;
}

.biodata-box h2 {
    margin-top: 0;
    font-size: 23px;
    text-align: center;
    font-family:"arial",sans-serif;
}

.biodata-table {
    width: 100%;
    font-size: 20px;
}

.biodata-table td {
    padding: 5px 0;
}

.riwayat-box {
    width: 700px;
    border: 3px solid white;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    top: 220px;
    left: 70px;
    font-family:"arial",sans-serif;
    background-color: transparent;
    color: white;
}

.riwayat-box h2 {
    margin-top: 0;
    font-size: 23px;
    text-align: center;
    font-family:"arial",sans-serif;
}

.riwayat-table {
    width: 100%;
    font-size: 20px;
}

.riwayat-table td {
    padding: 5px 0;
}

.samping {
  height: 100px;
  width: 900px;
  position: relative;
  left: 550px;
  top: -20px;
  color: white;
  transform: rotate(90deg);
  font-size: 30px;
  font-family: "open sans",sans-serif;
}

.kotak-satu {
  width: 0px;
  height: 600px;
  border: solid 2px;
  border-color: white;
  position: relative;
  top: -535px;
  left: 950px;
}

.kotak-dua {
  width: 0px;
  height: 600px;
  border: solid 2px;
  border-color: white;
  position: relative;
  top: -1140px;
  left: 1095px;
}